{% extends 'base.html.twig' %}

{% block title %}Page des entreprises{% endblock %}

{% block body %}

<style>
	.col-container{
		display: flex;
		width: 100%;
	}

	.col {
		flex: 1;
		padding: 16px;
	}
</style>

<h3>Liste des entreprises proposant un stage</h3>

<div class="table">


	<div class="row">
		{% for entreprise in listeEntreprises %}
		<div class="col-md-4">
			<div class="jumbotron">
				<h2>
					{{ entreprise.nom }}
				</h2>
				<h4>
					{{ entreprise.type }}
				</h4>
				<p>
					{{ entreprise.site }}
				</p>
				<p>
					{{ entreprise.adresse }}
				</p>
				<h4>
					{{ entreprise.tel }}
				</h4>
			</div>
		</div>
		{% endfor %}
	</div>

</div>

<h4><a href='/prostages/entreprises/ajouter'>Ajouter une entreprise</a><br></h4>
<h4><a href='/prostages/'>Revenir à l'accueil</a><br></h4>
<h4><a href="{{ path('app_logout') }}">Se déconnecter</a></h4>
{% endblock %}