{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ formation.nom }}</td>
            </tr>
            <tr>
                <th>Diplome</th>
                <td>{{ formation.diplome }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_edit', {'id': formation.id}) }}">Modifier</a>
    <br><br>
    <a href="{{ path('formation_index') }}">Revenir à la liste des formations</a>

{% endblock %}
